/.vscode
/dataosmenv
/geosmBackend/DB/working_dir
/geosmBackend/debug.log
/provider/qgis/project
/docker
/icons/qml/*
__pycache__
.DS_Store
/icons/temp/*
/icons/group/*
/icons/layer/*
/icons/picto/*
/elasticdata
icons/pictoQgis/*
