/.vscode
/dataosmenv
/geosmBackend/DB/working_dir
/geosmBackend/debug.log
/provider/qgis/project
/docker
/icons/qml/*
__pycache__
.DS_Store
/icons/temp/*
/icons/group/*
/icons/layer/*
/icons/picto/*
/elasticdata
icons/pictoQgis/*
pgdata

seed/data-1633875123831.csv
seed/data-1633875352610.csv
.gitignore
provider/management/commands/seedOldProvider.py
