/.vscode
/dataosmenv
/geosmBackend/DB/working_dir
/geosmBackend/debug.log
/provider/qgis/project
/docker
/icons/qml/*
__pycache__
.DS_Store
/icons/temp/*
/icons/group/*
/icons/layer/*
/icons/picto/*
/elasticdata
icons/pictoQgis/*
pgdata
.gitignore
provider/management/commands/seedOldProvider.py
icons/AUTRES/*
seed/*
settings/.env
getCustomStyle.py
provider/qgis/plugin/*.log
.idea