Django==3.2
psycopg2-binary
Pillow
djangorestframework
djoser
pyjwt
djangorestframework-simplejwt
django-cors-headers
cairosvg
django-extensions
django-tracking-fields
django-cuser
django-elasticsearch-dsl
django-environ
drf-yasg
gunicorn
django-filter
geoalchemy
pandas==2.1.4 
geopandas==0.13.2 
sqlalchemy==1.4.36
shapely==1.8.5
sqlalchemy==1.4.36
osmapi==4.3.0
cli-oauth2==0.3.1 
platformdirs==4.3.8
dj-rest-auth==6.0.0