Django
psycopg2-binary
Pillow
djangorestframework
djoser
pyjwt
djangorestframework-simplejwt
django-cors-headers
cairosvg
django-extensions
django-tracking-fields
django-cuser
django-elasticsearch-dsl
django-environ
drf-yasg
gunicorn
django-filter
geoalchemy
sqlalchemy
geopandas